Repository VMGWARE/ContainerEchoes: changes, and which Woodpecker steps are due for each by the changed paths.
All: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, formatcheck, sonar

Path conditions:
  install-dependencies: (any of: .woodpecker/.backend.yml, backend/**) or (any of: .woodpecker/.frontend.yml, frontend/**, backend/**) or (any of: .woodpecker/.server.yml, server/**)
  lint: (any of: .woodpecker/.backend.yml, backend/**) or (any of: .woodpecker/.frontend.yml, frontend/**, backend/**) or (any of: .woodpecker/.server.yml, server/**)
  test: (any of: .woodpecker/.backend.yml, backend/**) or (any of: .woodpecker/.frontend.yml, frontend/**, backend/**) or (any of: .woodpecker/.server.yml, server/**)
  publish-next-server: any of: web/**, server/**, **/*.go, go.*, docker/**, .woodpecker/.docker.yml
  publish-next-agent: any of: web/**, server/**, **/*.go, go.*, docker/**, .woodpecker/.docker.yml
  publish-next-server-arm64: any of: web/**, server/**, **/*.go, go.*, docker/**, .woodpecker/.docker.yml
  formatcheck: any of: .woodpecker/.frontend.yml, frontend/**, backend/**
  sonar: any of: server/**, core/**, web/**, agent/**, but not: README.md, LICENSE, .github, .gitignore

Add container table migration and handle database migration error
  core/database/migrations/20240201025302_create_container_table.js
  server/server.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add Swagger JSON endpoint and update API reference URL
  server/server.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Refactor database configuration in index.js
  core/database/index.js
Due: sonar

Add superuser field to JWT token
  server/controllers/auth.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Refactor Dockerfile and server.js
  docker/Dockerfile.server
  docker/Dockerfile.server.arm64
  docker/nodejs-run
  server/server.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Fix node not accessing env vars
  docker/nodejs-run
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Refactor Node.js run command
  docker/nodejs-run
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Update shebang to use correct command path
  docker/nodejs-run
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Update Dockerfile.server with correct file paths
  docker/Dockerfile.server
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Update Swagger spec content
  server/server.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Handle unhandled rejections and uncaught exceptions with Exceptionless
  server/server.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add SSL and dev mode flags to agent
  agent/flags.go
  agent/main.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add WebSocket proxy configuration
  agent/main.go
  docker/.htaccess
  docker/my-httpd.conf
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Enable WebSocket proxy in .htaccess and my-httpd.conf
  docker/.htaccess
  docker/my-httpd.conf
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Enable WebSocket proxy in my-httpd.conf
  docker/my-httpd.conf
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

[MUST REMOVE] Add print statements for healthcheck address and server connection
  agent/main.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add ProxyWebsocketIdleTimeout configuration
  docker/my-httpd.conf
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Update server Dockerfile to use httpd:2.4.58
  agent/main.go
  docker/Dockerfile.server
  docker/Dockerfile.server.arm64
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Update WebSocket proxy configuration
  docker/my-httpd.conf
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Update connection scheme based on SSL flag
  agent/main.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add API version negotiation to agent.go
  agent/agent.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Refactor error handling in getSystemInformation function
  server/controllers/general.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Removed old and incorrect docker compose
  compose.yaml
Due: none

Add WebSocket connection close handler and cleanup method
  server/webSocket/manager.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Refactor Exceptionless initialization to accept API key and server URL
  core/services/exceptionlessConfig.js
  server/server.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add ExceptionlessManager class and refactor Exceptionless initialization
  core/services/exceptionless.js
  core/services/exceptionlessConfig.js
  server/server.js
  server/utils/responses.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Rename tempQrCode column to otpauth and update related code
  core/database/migrations/20240204234437_rename_tempQrCode_to_otpauth.js
  server/controllers/auth.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Update .gitignore file to ignore logs, node_modules, and dist files
  web/.gitignore
  web/src/plugins/iconify/icons.css
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Update project configuration and remove unused files
  docs/README.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/social-card.png
  web/src/components/README.md
  web/src/layouts/README.md
  web/src/pages/README.md
  web/src/plugins/README.md
  web/src/store/README.md
  web/src/styles/README.md
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Update color mode configuration in docusaurus.config.ts and remove unused components and styles
  docs/docusaurus.config.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
Due: none

Add version dropdown to documentation config
  docs/docusaurus.config.ts
  docs/versions.json
Due: none

Add versioning command to README.md
  docs/README.md
Due: none

Add log monitoring functionality to the agent
  agent/monitor.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add monitor functionality to agent
  agent/main.go
  agent/monitor.go
  server/webSocket/handlers/agentInfo.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add security documentation
  Makefile
  docs/docs/10-intro.md
  docs/docs/20-setup.md
  docs/docs/30-env-vars.md
  docs/docs/40-agent-configuration.md
  docs/docs/50-server-management.md
  docs/docs/60-data-transfer-and-security.md
  docs/docs/70-Development/10-getting-started.md
  docs/docs/70-Development/20-guides.md
  docs/docs/70-Development/30-security.md
Due: none

Add version parameter to Exceptionless initialization
  core/services/exceptionless.js
  server/server.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add method to update Exceptionless client settings
  core/services/exceptionless.js
  server/controllers/admin/settings.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add healthcheck endpoint to API
  server/controllers/general.js
  server/routes/general.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add online status to agents table
  server/controllers/agents.js
  web/src/pages/agents.vue
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add dependencies and implement terminal logger
  agent/agent.go
  agent/main.go
  agent/monitor.go
  go.mod
  go.sum
  shared/logger/logger.go
  shared/logger/terminal.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar
