Repository VMGWARE/ContainerEchoes: changes, and which Woodpecker steps are due for each by the changed paths.
All: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, formatcheck, sonar

Path conditions:
  install-dependencies: (any of: .woodpecker/.backend.yml, backend/**) or (any of: .woodpecker/.frontend.yml, frontend/**, backend/**) or (any of: .woodpecker/.server.yml, server/**)
  lint: (any of: .woodpecker/.backend.yml, backend/**) or (any of: .woodpecker/.frontend.yml, frontend/**, backend/**) or (any of: .woodpecker/.server.yml, server/**)
  test: (any of: .woodpecker/.backend.yml, backend/**) or (any of: .woodpecker/.frontend.yml, frontend/**, backend/**) or (any of: .woodpecker/.server.yml, server/**)
  publish-next-server: any of: web/**, server/**, **/*.go, go.*, docker/**, .woodpecker/.docker.yml
  publish-next-agent: any of: web/**, server/**, **/*.go, go.*, docker/**, .woodpecker/.docker.yml
  publish-next-server-arm64: any of: web/**, server/**, **/*.go, go.*, docker/**, .woodpecker/.docker.yml
  formatcheck: any of: .woodpecker/.frontend.yml, frontend/**, backend/**
  sonar: any of: server/**, core/**, web/**, agent/**, but not: README.md, LICENSE, .github, .gitignore

Update dependencies in go.mod file
  go.mod
Due: publish-next-server, publish-next-agent, publish-next-server-arm64

Update agent configuration and remove unused documentation
  docs/docs/30-env-vars.md
  docs/docs/40-agent-configuration.md
  docs/docs/50-server-management.md
  docs/docs/60-data-transfer-and-security.md
Due: none

🎉 Release 0.2.2
  CHANGELOG.md
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add shared, docs, and docker directories to sonar.sources
  sonar-project.properties
Due: none

Add pre-commit hooks configuration file
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Remove unused hooks and skip hadolint in pre-commit.ci
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks and add golangci-lint
  .pre-commit-config.yaml
Due: none

Add pre-commit.ci badge to README
  README.md
Due: none

Add target for installing all dependencies
  Makefile
Due: none

🎉 Release 0.3.0
  CHANGELOG.md
  server/package-lock.json
  server/package.json
  web/package-lock.json
  web/package.json
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Refactor log handling and message handling in agent and server
  agent/main.go
  agent/monitor.go
  server/webSocket/messageHandler.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Update log message handling and add log.js handler
  agent/main.go
  server/webSocket/handlers/log.js
  server/webSocket/messageHandler.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add comment to bump lastTimestamp for monitor
  agent/main.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add migration for creating log table
  core/database/migrations/20240207222209_create_log_table.js
Due: sonar

Fixed data being send out incorrectly
  agent/monitor.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Refactor log callback to include container ID
  agent/main.go
  agent/monitor.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Chunk out logs in 500 blocks
  agent/main.go
  agent/monitor.go
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Add writing of logs to db
  server/webSocket/handlers/log.js
Due: install-dependencies, lint, test, publish-next-server, publish-next-agent, publish-next-server-arm64, sonar

Update chunk size for log monitoring and add global logs page
  agent/monitor.go
  web/src/pages/login.vue
  web/src/pages/logs.vue
  web/src/plugins/router/routes.js
Due: publish-next-server, publish-next-agent, publish-next-server-arm64, sonar
