Repository VMGWARE/ContainerEchoes: changes, and which Woodpecker steps are due for each by the changed paths.
All: install-dependencies, lint, test, formatcheck

.woodpecker/.backend.yml:

when:
  - event: pull_request
  - event: push
    branch:
      - ${CI_REPO_DEFAULT_BRANCH}

variables:
  - &node_image "docker.io/node:18-alpine"
  - &when
    path:
      # related config files
      - ".woodpecker/.backend.yml"
      # backend source code
      - "backend/**"

steps:
  install-dependencies:
    image: *node_image
    directory: backend/
    commands:
      - npm install --frozen-lockfile
    when: *when

  lint:
    depends_on:
      - install-dependencies
    image: *node_image
    directory: backend/
    commands:
      - npm run lint --if-present
    when: *when

  test:
    depends_on:
      - install-dependencies
    image: *node_image
    directory: backend/
    commands:
      - npm run test:mocha --if-present
    when: *when

.woodpecker/.frontend.yml:

when:
  - event: pull_request
  - event: push
    branch:
      - ${CI_REPO_DEFAULT_BRANCH}

variables:
  - &node_image 'docker.io/node:18-alpine'
  - &when
    path:
      # related config files
      - '.woodpecker/.frontend.yml'
      # web source code
      - 'frontend/**'
      # backend source code
      - 'backend/**'

steps:
  install-dependencies:
    image: *node_image
    directory: frontend/
    commands:
      - npm install --frozen-lockfile
    when: *when

  lint:
    depends_on:
      - install-dependencies
    image: *node_image
    directory: frontend/
    commands:
      - npm run lint
    when: *when

  formatcheck:
    depends_on:
      - install-dependencies
    image: *node_image
    directory: frontend/
    commands:
      - npm run format:check
    when: *when

  test:
    depends_on:
      - install-dependencies
    image: *node_image
    directory: frontend/
    commands:
      - npm run test:unit
    when: *when

.woodpecker/.server.yml:

when:
  - event: pull_request
  - event: push
    branch:
      - ${CI_REPO_DEFAULT_BRANCH}

variables:
  - &node_image "docker.io/node:18-alpine"
  - &when
    path:
      # related config files
      - ".woodpecker/.server.yml"
      # server source code
      - "server/**"

steps:
  install-dependencies:
    image: *node_image
    directory: server/
    commands:
      - npm install --frozen-lockfile
    when: *when

  lint:
    depends_on:
      - install-dependencies
    image: *node_image
    directory: server/
    commands:
      - npm run lint --if-present
    when: *when

  test:
    depends_on:
      - install-dependencies
    image: *node_image
    directory: server/
    commands:
      - npm run test:mocha --if-present
    when: *when

Add app.autoAddAgents configuration variable and update config refresh method
  core/config/index.js
  server/controllers/admin/settings.js
Due: install-dependencies, lint, test

Add page headers and create new Agents page
  frontend/src/pages/admin/settings.vue
  frontend/src/pages/admin/system.vue
  frontend/src/pages/agents.vue
  frontend/src/pages/dashboard.vue
  frontend/src/plugins/router/routes.js
Due: install-dependencies, lint, test, formatcheck

Add SonarQube configuration files
  .woodpecker/.sonar.yml
  sonar-project.properties
Due: none

Add build:icons step to Dockerfile
  docker/Dockerfile.server
Due: none

Reinstall packages
  frontend/package-lock.json
Due: install-dependencies, lint, test, formatcheck

Fix error handling in login and register pages
  frontend/src/pages/login.vue
  frontend/src/pages/register.vue
Due: install-dependencies, lint, test, formatcheck

Update Dependabot configuration
  .github/dependabot.yml
Due: none

Enhancements in Security, Configuration, and UI Components (#37)
  .woodpecker/.sonar.yml
  core/config/index.js
  docker/Dockerfile.server
  frontend/src/layouts/components/DefaultLayoutWithVerticalNav.vue
  frontend/src/layouts/components/NavItems.vue
  frontend/src/pages/admin/settings.vue
  frontend/src/pages/admin/system.vue
  frontend/src/pages/agents.vue
  frontend/src/pages/dashboard.vue
  frontend/src/plugins/router/routes.js
  server/controllers/admin/settings.js
  sonar-project.properties
Due: install-dependencies, lint, test, formatcheck

Revert "Enhancements in Security, Configuration, and UI Components"
  .woodpecker/.sonar.yml
  core/config/index.js
  docker/Dockerfile.server
  frontend/src/layouts/components/DefaultLayoutWithVerticalNav.vue
  frontend/src/layouts/components/NavItems.vue
  frontend/src/pages/admin/settings.vue
  frontend/src/pages/admin/system.vue
  frontend/src/pages/agents.vue
  frontend/src/pages/dashboard.vue
  frontend/src/plugins/router/routes.js
  server/controllers/admin/settings.js
  sonar-project.properties
Due: install-dependencies, lint, test, formatcheck

Revert "Enhancements in Security, Configuration, and UI Components" (#38)
  .woodpecker/.sonar.yml
  core/config/index.js
  docker/Dockerfile.server
  frontend/src/layouts/components/DefaultLayoutWithVerticalNav.vue
  frontend/src/layouts/components/NavItems.vue
  frontend/src/pages/admin/settings.vue
  frontend/src/pages/admin/system.vue
  frontend/src/pages/agents.vue
  frontend/src/pages/dashboard.vue
  frontend/src/plugins/router/routes.js
  server/controllers/admin/settings.js
  sonar-project.properties
Due: install-dependencies, lint, test, formatcheck

Enhancements in Security, Configuration, and UI Components (#39)
  .github/dependabot.yml
  .woodpecker/.sonar.yml
  core/config/index.js
  docker/Dockerfile.server
  frontend/package-lock.json
  frontend/src/layouts/components/DefaultLayoutWithVerticalNav.vue
  frontend/src/layouts/components/NavItems.vue
  frontend/src/pages/admin/settings.vue
  frontend/src/pages/admin/system.vue
  frontend/src/pages/agents.vue
  frontend/src/pages/dashboard.vue
  frontend/src/pages/login.vue
  frontend/src/pages/register.vue
  frontend/src/plugins/router/routes.js
  server/controllers/admin/settings.js
  sonar-project.properties
Due: install-dependencies, lint, test, formatcheck

🎉 Release 0.2.0
  CHANGELOG.md
Due: none

Remove chalk dependency and update package-lock.json
  server/package-lock.json
  server/package.json
Due: install-dependencies, lint, test

Remove chalk dependency and update package-lock.json (#53)
  server/package-lock.json
  server/package.json
Due: install-dependencies, lint, test

Update commit message prefixes and include scope
  .github/dependabot.yml
Due: none

Update commit message prefixes and include scope (#54)
  .github/dependabot.yml
Due: none

Update DockerHub and Harbor credentials and repositories
  .woodpecker/.docker.yml
Due: none

Update Dockerfile.server to install frontend dependencies and build frontend assets
  docker/Dockerfile.server
Due: none

docker: include push to harbor.vmgware.dev (#67)
  .woodpecker/.docker.yml
  docker/Dockerfile.server
Due: none

Add Dockerfile for ARM64 server
  .woodpecker/.docker.yml
  docker/Dockerfile.server.arm64
Due: none

Add Docker build for ARM64 server preview
  .woodpecker/.docker.yml
Due: none

Update Dockerfile: add cleanup
  docker/Dockerfile.server.arm64
Due: none

comment out step for now
  .woodpecker/.docker.yml
Due: none

Welp, we needed those
  docker/Dockerfile.server.arm64
Due: none

Remove unnecessary package purge command
  docker/Dockerfile.server.arm64
Due: none

Fix error with @rollup/rollup-linux-arm64-gnu
  docker/Dockerfile.server.arm64
Due: none

Update security scan settings and Dockerfile for server
  .woodpecker/.securityscan.yml
  docker/Dockerfile.server
  docker/Dockerfile.server.arm64
Due: none

Add Docker configuration files for amd64 and arm64 architectures
  .woodpecker/.docker-amd64.yml
  .woodpecker/.docker-arm64.yml
Due: none

Add Docker image support information to README
  .woodpecker/.docker-arm64.yml
  README.md
Due: none

Add support for arm64 (#68)
  .woodpecker/.docker-amd64.yml
  .woodpecker/.docker-arm64.yml
  .woodpecker/.securityscan.yml
  README.md
  docker/Dockerfile.server.arm64
Due: none

Add ping message handler for WebSocket
  server/webSocket/handlers/ping.js
Due: install-dependencies, lint, test

WIP
  agent/main.go
  server/controllers/agents.js
  server/routes/agents.js
  server/webSocket/manager.js
  server/webSocket/messageHandler.js
Due: install-dependencies, lint, test

Refactor agent controller functions and add documentation
  server/controllers/agents.js
Due: install-dependencies, lint, test
